.pricing {
    padding: 45px 0 32px;
    background: url("../images/price/price-background.webp");
    background-position: center 30%;
    background-repeat: no-repeat;
    background-color: #4b3b4e;

    h2 {
        margin-bottom: 36px;
        text-align: center;
        font-size: 3rem;
        line-height: 1.25em;
        font-family: "Montserrat-Bold";
        color: #fff;
    }
}

.pricing-block {
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-bottom: 31px;
}

.pricing-item {
    width: 257px;
    height: 457px;
    margin: 7px;
    grid-template-rows: 99px repeat(3, 1fr) 80px;
    text-align: center;
    color: #fff;
    background-color: #5f5161;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 30px #766b79;
        border: solid 6px #82769d;
        margin: 0;
        transition: 0.3s;

        a {
            background: linear-gradient(to bottom, #766b79 5%, #847688 100%);
            background-color: #766b79;
            color: #fff;
        }
    }

    h3 {
        font-size: 1.5rem;
        line-height: 4.125em;
        text-transform: uppercase;
        background-color: #695c6e;
    }

    .pricing-item-price {
        margin-top: 32px;
        font-size: 3.761rem;
        font-family: "Montserrat-Bold";
    }

    .pricing-item-period {
        position: relative;
        margin-top: 18px;
        font-size: 0.875rem;
        text-transform: uppercase;
        color: #8f8691;

        &::after {
            content: url("../images/price/sep.png");
            position: absolute;
            top: 44px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .pricing-item-license {
        justify-self: center;
        max-width: 210px;
        margin-top: 5px;
        line-height: 1.75rem;
    }

    a {
        justify-self: center;
        align-self: start;
        font-size: 0.938rem;
        padding: 1em 2.4em;
        border-radius: 1.4em;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Montserrat-Regular";
        color: #fff;
        background-color: #766b79;


        &:hover {
            background: linear-gradient(to bottom, #847688 5%, #766b79 100%);
            background-color: #847688;

            transition: .3s ease;
        }

        &:active {
            position: relative;
            top: 1px;
            transition: .3s ease;
        }
    }
}

.pricing-annotation {
    justify-self: center;
    padding: 0 40px;
    max-width: 870px;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #b5acb5;
}

@media (max-width: 460px) {

    .pricing {
        h2 {
            font-size: 2rem;
        }
    }
}

@media (min-width: 735px) {

    .pricing-block {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (min-width: 735px) and (max-width: 1130px) {
    .pricing-block {
        max-width: 600px;
    }
}

@media (min-width: 1120px) {

    .pricing {
        padding: 35px 0 78px;


        h2 {
            margin-bottom: 108px;
        }
    }

    .pricing-annotation {
        font-size: 0.75rem;
    }
}