.promo {
    padding: 187px 0 558px;
    background-image: url("../images/promo/promo-background.png");
    background-position: center 123px;
    background-repeat: no-repeat;
    background-color: #010005;

    .container {
        justify-items: center;

        h2 {
            margin-bottom: 19px;
            font-family: "Montserrat-Bold";
            font-size: 5.125rem;
            color: #fff;
            background: linear-gradient(to top, rgba(0, 5, 5, 0.5) -100%, rgba(255, 255, 255, 1) 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            text-transform: uppercase;
            color: #848e97;
        }
    }
}

h1 {
    text-align: center;
    margin-bottom: 12px;
    font-size: 1.5rem;
    line-height: 1.417em;
    text-transform: capitalize;
    color: $corp-color;
}



@media (max-width: 355px) {
    h1 {
        font-size: 1.2rem;
    }

    .promo .container h2 {
        font-size: 3.5rem;
    }
}

@media (min-width: 355px) and (max-width: 425px) {
    .promo .container h2 {
        font-size: 4rem;
    }
}

@media (min-width: 900px) {
    .promo {
        padding: 173px 0 613px;
        background-position: center;


        .container h2 {
            margin-bottom: 11px;
        }

    }


    h1 {
        font-size: 1.875rem;
        text-transform: none;
    }

}