.testimonials {
    position: relative;
    padding: 72px 0 22px;
    background: url("../images/testimonials/testimonials-background.webp");
    background-position: center 0;
    background-repeat: no-repeat;
    background-color: #4b3b4e;



    h2 {
        margin-bottom: 17px;
        text-align: center;
        font-size: 3rem;
        line-height: 1.25em;
        font-family: "Montserrat-Bold";
        color: #fff;
    }

    .company-feedback {
        flex-direction: column;
        align-items: center;
        max-width: 1380px;
        margin: 0 auto;

        p {
            max-width: 350px;
            margin: 0 27px 56px;
            padding-top: 75px;
            text-align: center;
            box-sizing: border-box;
            line-height: 1.5rem;
            font-family: "Sourcesanspro-Bolditalic";
            color: #fff;
        }

        .company-smashing {
            background-image: url("../images/testimonials/logo-smashing.png");
            background-repeat: no-repeat;
            background-position-x: center;
        }

        .company-codrops {
            background-image: url("../images/testimonials/logo-codrops.png");
            background-repeat: no-repeat;
            background-position-x: center;
        }

        .company-w {
            background-image: url("../images/testimonials/logo-w.png");
            background-repeat: no-repeat;
            background-position-x: center;
        }

        .company-pixelbuddha {
            background-image: url("../images/testimonials/pixel-buddha.png");
            background-repeat: no-repeat;
            background-position: center 10px;
        }

        .company-creative {
            background-image: url("../images/testimonials/creative-bloq.png");
            background-repeat: no-repeat;
            background-position-x: center;
        }

        .company-tnw {
            background-image: url("../images/testimonials/tnw.png");
            background-repeat: no-repeat;
            background-position-x: center;
        }
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 37px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        max-width: 780px;
        border-top: solid 1px #645766;
    }
}

@media (max-width: 460px) {
    .testimonials h2 {
        font-size: 2rem;

    }
}

@media (min-width: 810px) {
    .testimonials {

        .company-feedback {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            p {
                max-width: 335px;
                margin-bottom: 100px;
            }
        }

        h2 {
            margin-bottom: 85px;
        }
    }
}

@media (min-width: 1200px) {
    .testimonials {
        padding-top: 91px;
    }
}