@import "reset.scss";
@import "fonts.scss";

$corp-color: #8d81ac;
$sprite: url("../images/sprite/spritesheet.png") no-repeat;


body {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 16px;
    overflow-x: hidden;

    background-color: aqua;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 104px;
    background-color: #fff;

    .container {
        grid-template-columns: 1fr 1fr 80px;
        align-items: center;
        justify-items: start;
        justify-content: space-between;
        height: 100%;
    }

    .logo {
        margin-left: 10px;
    }
}

.btn-sale {
    align-items: center;
    justify-self: end;
    margin-right: 10px;
    font-size: 1rem;
    height: 3em;
    padding: 0 2.3em;
    font-family: "Montserrat-Bold";
    border-radius: 1.5em;
    background-color: $corp-color;
    color: #fff;
}

.menu {
    display: none;
    position: absolute;
    top: 104px;
    left: 0;
    right: 0;
    background-color: #333;

    >li {
        padding: 27px 5px;
        border-bottom: solid 2px #3b3b3b;

        &:last-child {
            border-bottom: solid 2px transparent;
        }

        &:first-child .menu-item,
        &:last-child .menu-item {
            color: #858585;
        }
    }

    .menu-item {
        display: inline-block;
        width: 100%;
        font-size: 2rem;
        padding: 0 .9em;
        line-height: 1.66em;
        color: #fff;

        &:hover,
        &:active {
            border-left: solid 4px $corp-color;
            margin-left: -4px;
            color: $corp-color;
        }
    }

    .social-icon {
        grid-template-columns: repeat(3, 50px);
        grid-gap: 48px;
        padding: 21px 29px 32px;

        a {
            display: inline-block;
            overflow: hidden;
            height: 50px;
            background: $sprite;
        }

        .icon-github {
            width: 48px;
            background-position: -126px 0;
        }

        .icon-twitter {
            width: 48px;
            background-position: -174px 5px;
        }

        .icon-facebook {
            width: 24px;
            background-position: -102px 0;
        }
    }
}

.menu-bar {
    display: none;
}

.navigation {
    justify-self: end;

    label {
        display: block;
        width: 50px;
        height: 34px;
        border-left: solid 1px #f4f4f4;
        background-image: url("../images/header/menu-sandwich.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    input:checked~.menu {
        display: block;
    }

    input:checked+label {
        background-image: url("../images/header/menu-cross.png");
        background-repeat: no-repeat;
        background-position: center;
    }
}

// section promo

@import "promo.scss";

// section hero

@import "hero.scss";

//  section features

@import "features.scss";

//  section social

@import "social.scss";

// section testimonials

@import "testimonials.scss";

// section pricing

@import "pricing.scss";